.close-content button{
	position: relative;
	top: 310px;
	left: 1050px;
	background:transparent;
	border: none;
	font-family: Arial;
	font-size: 20px;
	font-weight: bolder;
	z-index: 1;
	cursor: pointer;
}
div.gameCategory::-webkit-scrollbar{
	display: none; /*chrome*/
	-ms-overflow-style: none;  /* Internet Explorer 10+*/
    scrollbar-width: none;  /* Firefox */
}
div.gameCategory {
	position: relative;
	text-align: center;
	height: 300px;
	width: 700px;
	top: 280px;
	left: 420px;
		
	border-style: solid;
	border-color: black;
	overflow-y: scroll;

}


p{
	display: inline-block;
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
	font-weight: bold;

}
