.signin-screen{
	position: fixed;
	height: 500px;
	width: 500px;
	left: 500px;
	background: white;
	box-sizing: border-box;
	z-index: 10;
}

.cta{
	top: 0;
	right: 0;
	width: 25%;
	display: inline-block;
	height: 40px;
	margin-left: -10px;
	padding-left: 10px;
	line-height: 40px;
	
}
.btn-container{
	position: fixed;
	right: 0;
}
.btn-container button {
	background:transparent;
	border: none;
	color: #c9cdd3;
	font-family: Arial;
	font-size: 20px;
	text-decoration: underline;

}
.btn-container button:hover{
	color: green;

}

.btn-container a:visited{
	color: green;
}

.btn-container a:link{
	color: green;
}

.btn-container a:hover{
	font-size: 25px;
}





