.signin-screen-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9;
}

.signin-screen{
	position: fixed;
	height: 70%;
	width: 50%;
	margin: 6% 25%;
	background: url("signinbg.jpg") no-repeat;			
	background-image: url("signinbg.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	z-index: 10;
}

#close-signin{
	position: absolute;

}

.cta{
	position: relative;
	
}
.btn-container{
	position: relative;
	right: 0;
}
.btn-container button {
	background:transparent;
	border: none;
	color: #611122;
	font-family: Arial;
	font-size: 20px;
	text-decoration: underline;
	position: absolute;
	right: 0px;
	cursor: pointer;

}
.btn-container button:hover{
	color: green;

}

.btn-container a:visited{
	color: green;
}

.btn-container a:link{
	color: green;
}

.btn-container a:hover{
	font-size: 25px;
}





