.signin-screen{
	position: fixed;
	height: 70%;
	width: 50%;
	margin: 7% 32%;
	background: white;
	box-sizing: border-box;
	z-index: 10;
}

.cta{
	position: relative;
}
.btn-container{
	position: relative;
	right: 0;
}
.btn-container button {
	background:transparent;
	border: none;
	color: #c9cdd3;
	font-family: Arial;
	font-size: 20px;
	text-decoration: underline;
	position: absolute;
    right: 0px;

}
.btn-container button:hover{
	color: green;

}

.btn-container a:visited{
	color: green;
}

.btn-container a:link{
	color: green;
}

.btn-container a:hover{
	font-size: 25px;
}





