h1{
	text-align: center;

}
h5{
	text-align: center;

}
button:focus{
outline: 0;
}
.fixed-headers{
	position: relative;
	left: 35%;
}
.header{
	position: fixed;
	top: 75px;
}


.close-content button{
	position: relative;
	top: 310px;
	left: 1090px;
	background:transparent;
	border: none;
	font-family: Arial;
	font-size: 20px;
	font-weight: bolder;
	z-index: 1;
	cursor: pointer;
}
div.gameCategory::-webkit-scrollbar{
	display: none; /*chrome*/
	-ms-overflow-style: none;  /* Internet Explorer 10+*/
    scrollbar-width: none;  /* Firefox */
}
div.gameCategory {
	position: relative;
	text-align: center;
	height: 300px;
	width: 700px;
	top: 280px;
	left: 420px;
		
	border-style: solid;
	border-color: black;
	overflow-y: scroll;

}


p{
	display: inline-block;
	text-align: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
	font-weight: bold;

}


.searchbar{
	position: fixed;
	margin-top: 13%;
	margin-left: 112px;
	width: 10%;
	
	display: block;

}
.custom-dropdown ul li {
	display: none;
}

.custom-dropdown button{
	width: 7%;
	border: 5px solid black;
	position: fixed;
	text-align: center;
	top: 250px;
    left: 675px;
	background:transparent;
	height: 20px;
	padding-top: 0px;
	padding-left: 0px;
	display: block;
	color: #ffff99;
	border-radius: 30%;
}
.drop-btn{

	cursor: pointer;
}
.drop{
	width: 10%;
	position: fixed;
	text-align: center;
	margin-top: 18%;
	margin-left: 117px;
	margin-right: auto;
	line-height: 25px;
	cursor: pointer;
	padding-top: 0px;
	padding-left: 0px;
	z-index: 2;
}
.drop a:hover{
	font-size: 20px;
}
.form input{
	position: relative;
	margin-left: auto;
	margin-right: auto;

	display:block;

}

.form h3{
	position: relative;
	width: 20%;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 0px;
}

.details_header{
	position: relative;
	margin-top: 0px;	
	width: 50%;
	margin-left: auto;
	margin-right: auto;	
	text-decoration: underline;
	font-weight: bolder;
	color: blue;
	
}


.cancel::before,.cancel::after{
	content: "";
	display: table;
	clear: both;
	
}

.cancel button{
	float: right;
	border-radius: 50%;
	font-size: 20px;
	background-color: transparent;
	border-color: transparent;
	color: white;
	text-decoration: underline;
	font-weight: bolder;
	cursor: pointer;
}


